#empty-cart-container {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#empty-cart-title {
  font-size: 35px;
}

#empty-cart-continue-shopping-btn {
  background-color: black;
  color: white;
}
