.cart-list-item-container {
  box-shadow: 2px 2px 0.5px whitesmoke;
  border: 2px solid whitesmoke;
  margin: 5px 0 0 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.cart-list-item-img-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 90px;
  /* height: 90px; */
}
.cart-list-item-btns-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     border: 1px solid #EBEBEB;
     border-radius: 5px;
     padding: 7px 13px;
     width: 95px;
}
.cart-list-item-right-side-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
