#footer {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px 0;
  min-height: 15vh;
}
#footer-left-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer-left-content > a,
#social-media-container > a {
  color: white;
  padding: 10px;
}
#logo-container {
  display: flex;
  justify-content: center;
}
#content-container {
  display: flex;
  justify-content: space-between;
}
#content-middle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100px;
}
#social-media-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
