.wrap, #slider, .slide-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50vh;
    overflow-x:hidden;
}

.wrap{position: relative}

.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1{
    background-image: url('../assests/images/image1.jpeg');
}

.slide2{
    background-image: url('../assests/images/image2.jpeg');
}
.slide3{
    background-image: url('../assests/images/image3.jpeg');
}