#navbar-brand-title{
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 5px;
  background: black;
}
.logo{
  display: flex;
  justify-content: center
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}
.profile-btn-container, .cart-btn-container{
  padding: 0 5px;
}
.nav-links {
  display: flex;
  width: 30%;
  z-index: 1;
  color: black;
  margin: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
  transition: all 0.3s ease;
}

.inner-burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: white;
  transition: all 0.3s ease;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .nav-links {
    width: 60%;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .profile-dropdown-content {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  /* body {
    overflow: hidden;
  } */
  nav{
    justify-content: space-between;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(
      100%
    ); /*THIS CODE WILL OUT THE MENU FROM SCREEN need to understand this property   */
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links a {
    color: white;
  }
  .burger {
    display: block;
  }
  #burger-container{
    display: flex;
    align-items: center;
    width: 100%;
  }
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px); /* eed to understand */
}
.toggle .line2 {
  opacity: 0; /* eed to understand */
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px); /* eed to understand */
}
/* DropDown section */
.dropdown-content, .profile-dropdown-content {
  display: none;
  position: absolute;
  border: 1px solid whitesmoke;
  background-color: white;
  padding: 16px;
  box-shadow: "2.5px 5px 5px whitesmoke";
  z-index: 1;
}
.dropdown-content{
  min-width: 500px;
  min-height: 500px;
}
.profile-dropdown-content {
  min-width: 150px;
  min-height: 100px;
}
.dropdown-content a:hover, .profile-dropdown-content a:hover {
  background-color: #ddd;
}
#genres-content,
#categories-content {
  margin-bottom: 40px;
}
#genres-ul,
#category-ul {
  display: flex;
  flex-direction: column;
}
.genres-text {
  font-size: 12px;
}
/* span{
   text-shadow: 0 1.5px rgba(0, 0, 0, 0.25);
   font-style: medium;
   color: black 
}
.nav-link{
   color: black;
}
body {} */
/* Nav */
/* .navbar {
  margin-bottom: 1rem;
}

.navbar a {
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar-brand > img {
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  background-size: 100% 100%;
}

.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  text-align: center;
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 8px #66757f;
} */
