.orders-container{
  margin-top: 25px
}

  #empty-order-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
}

#empty-order-title {
  font-size: 35px;
}

#empty-order-continue-shopping-btn {
  background-color: black;
  color: white;
}
.order-content-container {
  border: 1px solid whitesmoke;
  box-shadow: 2.5px 5px 5px whitesmoke;
  padding: 10px;
  cursor: pointer;
}
.order-img-container {
  margin-right: 20px;
}
.order-title {
  font-size: 16px;
  font-weight: bold;
}
.size-text,
.size-text-value,
.color-text,
.color-text-value {
  font-size: 12px;
}
.total-value-text,
.Qty-value-text {
  font-size: 20px;
  font-weight: bold;
}
.order-item-price {
  /* font-size: 15px; */
  font-weight: bold;
}
.item-content-footer-container {
  /* background-color: black; */
  display: flex;
  justify-content: flex-end;
  /* color: white; */
}
.item-content-footer-amount-container,
.item-content-footer-quantity-container {
  display: flex;
}
.item-content-footer-quantity-container {
  margin-right: 20px;
}
.item-content-footer-quantity-container div:nth-child(1),
.item-content-footer-amount-container div:nth-child(1) {
  margin-right: 10px;
}
.order-item-arrow, .order-item-color-size-comma {
  display: none;
}
@media only screen and (max-width: 600px) {
  .item-content-footer-container {
    display: none;
  }
  .order-item-arrow {
    display: flex;
    align-items: center;
    color: red;
    justify-content: flex-end;
    margin-top: 10px
  }
  .order-item-price, .size-text, .color-text{
      display: none;
  }
  .order-item-color-size-container{
      display: flex
  }
  .order-item-color-size-comma{
      display: block;
      margin: 0 5px;
  }
}
