#status-cancel-container{
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
}
#cancel-btn{
  
}
.order-details-status-value{
  color: red;
}
.items-container,
.address-container,
.payment-summary-container {
  box-shadow: 2px 2px 0.5px whitesmoke;
  border: 2px solid whitesmoke;
  margin: 5px 0;
  padding: 10px;
}
.payment-summary-title,
.delivery-add-title {
  font-size: 19px;
  font-weight: bold;
}
.delivery-customer-name {
  font-size: 17px;
  font-weight: bold;
}
.delivery-customer-add {
  font-size: 15px;
}
.payment-summary-price-container,
.payment-summary-shipping-fee-container,
.payment-summary-order-total-container {
  display: flex;
  justify-content: space-between;
}
.payment-summary-content-text {
  font-size: 16px;
}
.payment-summary-order-total-title,
.payment-summary-order-total-value {
  font-size: 17px;
  font-weight: 600;
}
