.productListItemCard:hover {
  border: 1px solid whitesmoke;
  box-shadow: 2.5px 2.5px 1px whitesmoke;
}
.product-list-title {
  font-size: 15px;
  font-weight: bold;
}
.product-price-text {
  font-size: 14px;
  font-weight: 500;
}
#empty-products-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  width: 100%;
}
#empty-products-title{
  font-size: 35px
}
