.product-title {
  font-size: 20px;
}
.product-price {
  font-size: 24px;
}
.product-description-title {
  font-size: 16px;
}
#product-description-container {
  padding: 10px 0;
  margin: 10px 0;
}
.pincodeInputContainer {
  display: flex;
  border-bottom: 1px solid black;
  width: 209px;
}
.error {
  animation: shake 0.5s;
  color: #ff6363;
  background-color: #fff7f8;
}
.sizeBtn {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid gray;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.colorBtn {
  height: 30px;
  width: 40px;
  border: 0.5px solid lightgray;
  margin-right: 10px;
}
.activeColorBtn {
  border: 1.5px solid red;
}
.sizeBackgroundColor {
  background-color: red;
  color: white;
}
.cartBtn {
  color: white;
  font-weight: bold;
  background-color: black;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
