#profile-page-container {
  display: flex;
  height: 88vh;
  justify-content: center;
  align-items: center;
}
#profile-page-content-container {
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-between;   
}
#profile-page-btns-container{
    display: flex;
    flex-direction: column;
    height: 42%;
    justify-content: space-between;
}
#profile-page-email-text{
    font-size: 20px;
}
#profile-page-orderBtn {
  background-color: black;
  color: white;
}
#logoutBtn {
  background-color: red;
  color: white;
}
